
.navPanel {
    width: 400px;
    padding: 5px;
    display: flex;
    justify-content: space-around;

};

button {
    border-radius: 5px
};

input {
    text-align: right;
    border-radius: 20px
};