
.navPanel {
    width: 350px;
    padding: 5px;
    display: flex;
    justify-content: space-around;

};

button {
    border-radius: 5px
};

input {
    text-align: right;
    border-radius: 20px;
    
};

input[type=number]::-webkit-inner-spin-button  { 
  -webkit-appearance: none; 
  margin: 0; 
}